body {
  
  background: black;
}
header h1, header h2{
    text-align: center;
    color:#fff;
}
.shop{
  position:fixed;
  bottom:3%;
  right:1%;
  text-decoration: none;  
  padding:10px;
  border-radius:5px;
  background-color: red;
  color:white;
  font-weight: 600;
  letter-spacing: .8px;
  transition: all .2s ease-in-out;
  z-index:100;
}
.shop:hover{
  color:red;
  background-color: white;
}
#keepsake-wrapper{
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-wrap: wrap;
    width:80%;
    margin:50px auto;
    border:solid 2px #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 36px 5px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 36px 5px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 36px 5px rgba(255, 255, 255, 1);
}
.card {
  width: 250px;
  height: 250px;
  margin:30px;
  perspective: 500px;
} 
.content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  transition: transform 1s;
  transform-style: preserve-3d;
}
.card:hover .content {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}
.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  color: #03446A;
  text-align: center;
  font-size: 12px;
  border-radius: 15px;
  backface-visibility: hidden;
}
.back {
  background: #03446A;
  color: white;
  padding: 18px;
  box-sizing: border-box;
  transform: rotateY( 180deg );
}
.back h2, .back p, .back a{
  letter-spacing: .6px;
}
a{
  text-decoration: none;
  color:yellow;
  transition:all .4s ease-in-out;
}
a:hover{
  color:rgb(255, 208, 0);
}
.front img{
  height:100%;
  width:auto;
  object-fit: contain;
  border-radius: 15px;
}
#decsriptions{
  color: white;
  width:80%;
  margin:80px auto;
  letter-spacing: .5px;
}
.desc-wrap{
  margin:95px 0;
}
.bottom-border-right, .bottom-border-left{
  height:2px;
  width:100%;
}
.bottom-border-left{
  background: rgb(255,255,255);
  background: -moz-linear-gradient(153deg, rgba(255,255,255,1) 32%, rgba(21,27,82,0) 74%);
  background: -webkit-linear-gradient(153deg, rgba(255,255,255,1) 32%, rgba(21,27,82,0) 74%);
  background: linear-gradient(153deg, rgba(255,255,255,1) 32%, rgba(21,27,82,0) 74%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#151b52",GradientType=1);
}
.bottom-border-right{
  background: rgb(255,255,255);
  background: -moz-linear-gradient(153deg, rgba(255,255,255,0) 28%, rgba(255,255,255,1) 68%);
  background: -webkit-linear-gradient(153deg, rgba(255,255,255,0) 28%, rgba(255,255,255,1) 68%);
  background: linear-gradient(153deg, rgba(255,255,255,0) 28%, rgba(255,255,255,1) 68%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}
.desc-right{
  text-align:right;
}
